{
    "BasedOnStyle": "Google",
    "AccessModifierOffset": -4,
    "AlignAfterOpenBracket": "Align",
    "AlignConsecutiveAssignments": true,
    "AlignConsecutiveDeclarations": true,
    "AlignTrailingComments": true,
    "AllowAllParametersOfDeclarationOnNextLine": true,
    "AllowShortBlocksOnASingleLine": false,
    "AllowShortFunctionsOnASingleLine": "None",
    "AllowShortIfStatementsOnASingleLine": true,
    "AllowShortLoopsOnASingleLine": true,
    "AlwaysBreakAfterDefinitionReturnType": "All",
    "AlwaysBreakAfterReturnType": "All",
    "AlwaysBreakTemplateDeclarations": true,
    "BinPackArguments": false,
    "BinPackParameters": false,
    "BreakBeforeBraces": "Linux",
    "BreakConstructorInitializersBeforeComma": true,
    "ColumnLimit": 80,
    "ConstructorInitializerIndentWidth": 0,
    "ContinuationIndentWidth": 4,
    "Cpp11BracedListStyle": false,
    "DerivePointerAlignment": false,
    "IndentFunctionDeclarationAfterType": false,
    "IndentWidth": 4,
    "IndentWrappedFunctionNames": false,
    "MaxEmptyLinesToKeep": 2,
    "NamespaceIndentation": "None",
    "SpaceAfterCStyleCast": false,
    "SpaceBeforeParens": "ControlStatements",
    "SpaceInEmptyParentheses": false,
    "SpacesInCStyleCastParentheses": false,
    "Standard": "Cpp11",
    "TabWidth": 4,
    "UseTab": "Never"
}
